<div class="container" style="margin-top: 50px">
  <div class="d-flex border-dark">
    <div class="card">
      <img src="{{list.image}}" style="width: 200px; height: 300px" class="mx-2">
      <h4 class="text-center text-info mt-2">{{list.name}}</h4>
    </div>
    <div>
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">{{list.name}}</h4>
          <pre class="card-text">Some example text some example text.
      product description is here</pre>
          <hr>
          <h5>${{list.price}}</h5>
          <h5>{{productId}}</h5>
          <a class="btn btn-success text-white" [routerLink]="['/MyCart']"> <i class="material-icons">
            shopping_cart
          </i></a>
          <div class="mt-2">
            <select name="Quatity">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
        </div>
        <div class="mt-4 mb-2">
          <a [routerLink]="['/home']" style="text-decoration: none">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
