<div>
  <div class="heading text-center">
    <a routerLink="/home"><img src=".\assets\shoppers_stop.png"></a>
  </div>
  <div class="d-flex flex-column align-items-center my-3">
    <div class="form-box border">
      <div class="login-text">Login</div>
      <div *ngIf="invalidLogin">
        <div class="text-danger font-weight-bold">You have entered invalid credentials</div>
      </div>
      <form>
        <div class="form-group">
          <label for="email" class="format-text">Email or username:</label>
          <input id="email" class="form-control" type="email" [(ngModel)]="username"
                 [ngModelOptions]="{standalone: true}" [required]="true">
        </div>
        <div class="form-group">
          <label for="password" class="format-text">Password:</label>
          <input id="password" class="form-control" type="password" [(ngModel)]="password"
                 [ngModelOptions]="{standalone: true}"
                 [required]="true" [minLength]="6">
        </div>
        <div class="form-group">
          <button class="btn btn-primary w-100" (click)="login()">Login</button>
        </div>
      </form>
    </div>
    <div class="format-text py-2">
      New to Shoppers Stop? <a routerLink="/sign-up">Sign Up here</a>
    </div>
  </div>
</div>
