.heading a {

  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.logintext{
  font-size: 2rem;
  padding-bottom: 0.75rem;
}

.form-box {
  display: inline-block;
  justify-content: center;
  padding: 0.5rem 1rem;
}

input {
  width: 300px;
}

button {
  font-weight: 600;
}

button:hover {
  background: lightgrey;
}

.format-text {
  font-weight: 600;
}

.con{
  text-align: center;
}
.conim{
  width: 150px;
  height: 150px;
  display: inline-block;
}
.conin{
  width: 320px;
  display: inline-block;
}
