.heading a {
  color: #FFC107;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.login-text {
  font-size: 2rem;
  padding-bottom: 0.75rem;
}

.form-box {
  display: inline-block;
  justify-content: center;
  padding: 0.5rem 1rem;
}

input {
  width: 300px;
}

button {
  background: #3F51B5;
  font-weight: 600;
}

button:hover {
  background: #FFA000;
}

.format-text {
  font-weight: 600;
}
