<app-nav-bar></app-nav-bar>
  <div class="container-fluid row">
    <div class="col-9">
      <div *ngFor="let cartItem of items">
        <div class="p-5 ">
          <div class="bg-dark">
            <div class="row bg-white alert alert-dark alert-dismissible fade show ">
              <button type="button" class="close" data-dismiss="alert" (click)="remove(cartItem.item.productId)">&times;
              </button>
              <div class="d-flex">
                <div class="product-item">
                  <img class=" my-pointer" src="{{cartItem.item.image}}" alt="{{cartItem.item.name}}"
                       (click)="redirect(cartItem.item.ProductID)">
                </div>
                <div class="p-3">
                  <div class="my-pointer font-weight-bold" (click)="redirect(cartItem.item.productId)">
                    {{cartItem.item.name}}
                  </div>
                  <div class=" mt-3">
                    <span class=" ml-5">Price:</span>
                    <span class=" ml-4 ">{{cartItem.item.price|currency:'INR':
                        true:'1.1'}}</span>
                  </div>
                  <!--Quantity-->
                  <div class="d-flex mt-3">
                    <div class="">
                      <span class=" ml-5">Quantity:</span>
                    </div>
                    <button type="button" class="btn btn-danger ml-4 "
                            (click)="decrement(cartItem.item.productId, cartItem.quantity)"
                            [disabled]="cartItem.quantity==1">-
                    </button>
                    <div class="border p-2 pl-4 pr-4 ">{{cartItem.quantity}}</div>
                    <button type="button" class="btn btn-primary "
                            (click)="increment(cartItem.item.productId)">+
                    </button>
                  </div>
                  <div class=" mt-3">
                    <span class=" ml-5">Total Amount : </span>
                    <span
                      class=" ml-4 ">{{cartItem.quantity * cartItem.item.price|currency:'INR':
                        true:'1.1'}}</span>
                  </div>
                  <div class="p-2 pl-4 pr-4 ">
                    <button class="btn btn-danger " (click)="remove(cartItem.item.productId)">
                      Remove From
                      Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3" >
        <div class="card shadow-lg shadow my-5">
          <div class="card-header ">
            <div>Your Order</div>
          </div>
          <div class="card-body ">
            Total Amount: {{totalPrice|currency:'INR':true:'1.1'}}
          </div>
          <button type="button" class="btn btn-outline-primary form-control mt-2" (click)="checkout()">Pay</button>
        </div>
      </div>
    </div>
  </div>
