<div class="con colourchange">
  <div class="conim">
    <a routerLink="/home"><img src="../../assets/Star-K_logo.jpg" width="150px" height="150px" ></a>
  </div>
</div>
<div class="colourchange con"><div class="colourchange conin" style="font-size: 40px;font-family: 'Brush Script Std'"><ng-marquee>Khareedo</ng-marquee></div></div>
<div class="colourchange ">
  <div class="d-flex flex-column align-items-center my-3">
    <div class="form-box border">
      <div class="con"style="font-size: 30px;font-weight: bold">Sign Up</div>
      <form>
        <div class="form-group">
          <label for="name" class="format-text">Full Name:</label>
          <input id="name" class="form-control" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required="true">

        </div>
        <div class="form-group">
          <label for="email" class="format-text">Email:</label>
          <input id="email" class="form-control" type="email" [(ngModel)]="email" name="email" required="true">
        </div>
        <div class="form-group">
          <label for="password" class="format-text">Password:</label>
          <input id="password" class="form-control" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required="true">
        </div>
        <div class="form-group">
          <button class="btn btn-primary w-100" (click)="signUp()">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="cursor py-2">
      <span  style="font-size:30px;font-family: 'Brush Script Std' " >Already have a account?</span> <a routerLink="/login" class="text-decoration-none"><span  style="font-size:20px">Login</span></a>
    </div>
  </div>
</div>
