<div class="container">
  <h1 class="company-style text-center">My Cart</h1>
  <hr>
</div>
<div class="container">
  <div class="this will be in ngfor">
    <div class="d-flex">
      <div><img style="height: 250px;width: 200px" src="../assets/blog_1.jpg"></div>
      <div>
        <h4>Product-name</h4>
        <h4>this is the description of the product</h4>
        <h5>$Price</h5>
        <span class="badge badge-primary">Addidas</span>
        <span class="badge badge-secondary">Shoes</span>
        <span class="badge badge-success">Satisfied</span>
        <span class="badge badge-danger">Best-dealer</span>
        <span class="badge badge-warning">Tags</span>
        <div class="mt-2">
          <select name="Quatity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
        <div class="btn btn-danger text-white mt-2"><a>DELETE</a></div>
        <div class="btn btn-success text-white mt-2 ml-1"><a>BUY</a></div>
      </div>
    </div>
    <hr>
  </div>
  <h4 class="text-danger text-right">Total=12,560</h4>
</div>
