<app-nav-bar></app-nav-bar>
<nav class="navbar align-items-center justify-content-center py-0 category-bar">
  <div class="categories">
    <a routerLink="/home">Home</a>
  </div>
  <div *ngFor="let item of categories" class="categories">
    <div>
      <a (click)="sendCategory(item.category)">{{item.category}}</a>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-around">
  <div class="col-3 my-3">
    <div class="card my-3 ml-4">
      <div class="price-text  card-header">Price</div>
      <div class="card-body ">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio1" name="priceFilter"
                 (click)="selectPriceFilter(500,1000)">
          <label class="custom-control-label" for="customRadio1">₹500 - ₹1,000</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio2" name="priceFilter"
                 (click)="selectPriceFilter(1000,2500)">
          <label class="custom-control-label" for="customRadio2">₹1,000 - ₹2,500</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio3" name="priceFilter"
                 (click)="selectPriceFilter(2500,5000)">
          <label class="custom-control-label" for="customRadio3">₹2,500 - ₹5,000</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio4" name="priceFilter"
                 (click)="selectPriceFilter(5000,500000)">
          <label class="custom-control-label" for="customRadio4">Over ₹5,000</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex flex-wrap my-3">
      <div class="d-flex flex-wrap border-left my-3">
        <div *ngFor="let product of productList" (click)="open(product.productId)">
          <div class="product-item card ml-4 my-2 my-pointer">
            <div class="card-body">
              <img src="{{product.image}}" alt="{{product.name}}">
            </div>
            <div class="card-footer text-center">
              <div class="product-item">
                <div class="text-width">
                  {{product.name}}
                </div>
                <div>
                  <h6 class="card-text">Price:&nbsp;<i class="fas fa-rupee-sign"></i> {{product.price}}
                    &nbsp;<del class="text-muted">{{product.price*2}}</del>
                    <span class="text-primary">&nbsp;50% Off</span> </h6>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
