<nav class="navbar colourchange align-items-center justify-content-around position-sticky ">
  <h4><a class="colourchange text-decoration-none font-weight-bolder" style="font-family: 'Brush Script Std'" routerLink='/home'>Khareedo</a></h4>
  <div class="py-2 d-flex justify-content-center">
    <input class="form-control" type="text" placeholder="Search for Products">
    <div><button class="d-flex align-items-center btn" >
      <i class="material-icons">
        search
      </i></button></div>
  </div>
  <div class="d-flex align-items-center colourchange mx-2">
    <div *ngIf="!service.checkLogin(); else logOut" class="mx-3">
      <a routerLink="/login" class="cursor text-center text-decoration-none">
        <i class="material-icons colourchange mx-2">toggle_on</i>
        <div class="navsize colourchange">Login</div>
      </a>
    </div>
    <ng-template #logOut>
      <div class="mx-3">
        <a (click)="signOut()" class="cursor text-center">
          <i class="material-icons text-center  colourchange mx-2">toggle_off</i>
          <div class="navsize text-center  colourchange">Logout</div>
        </a>
      </div>
    </ng-template>
    <div class="mx-3">
      <a (click)="orders()" class="cursor text-center" >
        <i class="material-icons text-center  colourchange mx-2">favorite</i>
        <div class="navsize text-center colourchange">Orders</div>
      </a>
    </div>
    <div *ngIf="!service.checkAdmin(); else addProduct" class="mx-3">
      <a (click)="cart()" class="cursor text-center">
        <i class="material-icons text-center  colourchange mx-2">shopping_cart</i>
        <div class="navsize text-center  colourchange">My Cart</div>
      </a>
    </div>
    <ng-template #addProduct>
      <div class="mx-3">
        <a (click)="addPro()" class="cursor  text-center">
          <i class="material-icons text-center colourchange mx-2">add_shopping_cart</i>
          <div class="navsize text-center  colourchange">Add Product</div>
        </a>
      </div>
    </ng-template>
    <div *ngIf="service.checkLogin(); " class="mx-3">
      <a routerLink="/profile" class="cursor text-center text-decoration-none">
        <i class="material-icons text-center  colourchange mx-2">account_circle</i>
        <div class="navsize text-center  colourchange">Profile</div>
      </a>
    </div>
  </div>
</nav>
