<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center m-5">


  <div>
    <div class="mt-3 px-4">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
                 [disabled]="!isEditable" [value]="profile.name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                 [disabled]="!isEditable" [value]="profile.email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
                 [disabled]="!isEditable" [value]="profile.password" [(ngModel)]="password">
        </div>
        <div *ngIf="isEditable">
          <button type="submit" (click)="update()" class="btn btn-outline-primary">Save</button>
        </div>
          <div class="mt-3 px-4 ">
            <button class="table my-pointer btn btn-outline-primary" (click)="edit()">Edit Profile
            </button>
          </div>
      </div>
    </div>
  </div>



</div>
