.carousel-item img {
  width: 100%;
  position: static;
}

.carousel-caption {
  color: black;
  left: 10%;
  text-align: left;
}

.carousel-heading {
  font-weight: bold;
  font-size: 2.5rem;
}

img{
  width: 1rem;
}

.categories {
  text-decoration: none;
  border-bottom: solid 2px white;
  padding: 0.75rem 1.5rem;
}

.categories a {
  color: black;
  font-weight: 400;
}

.categories a:hover {
  color: #ff5d3b;
}

.category-bar {
  background: white;
}

.form-control {
  width: 45rem;
  border: none;
  background: white;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  background: white;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: none;
  color: black;
}


.card{
  transition: box-shadow 0.3s;
}
.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.6);
}
.price-text {
  font-weight: 600;
}

.product-item img{
  width: 186px;
  height: 185px;
}

.product-item {
  font-weight: 500;
}

.a-price-symbol {
  color: darkred;
}

.a-price-whole {
  color: darkred;
  font-size: 1.5rem;
}

.text-width{
  width: 186px;
  height: 80px;
}

.categories {
  text-decoration: none;
  border-bottom: solid 2px white;
  padding: 0.75rem 1.5rem;
}

.categories a {
  color: black;
  font-weight: 400;
}

.categories a:hover {
  color: #ff5d3b;
}

.category-bar {
  background: white;
}

.my-pointer{
  cursor: pointer;
}
.card{
  transition: box-shadow 0.3s;
}
.card:hover{
  box-shadow: 0 0 1rem rgba(0,0,0,0.6);
}
